@font-face {
  font-family: Vazir;
  src: url(../fonts/Black.woff2);
  font-weight: 900;
}

@font-face {
  font-family: Vazir;
  src: url(../fonts/ExtraBold.woff2);
  font-weight: 800;
}

@font-face {
  font-family: Vazir;
  src: url(../fonts/Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: Vazir;
  src: url(../fonts/SemiBold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: Vazir;
  src: url(../fonts/Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: Vazir;
  src: url(../fonts/Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: Vazir;
  src: url(../fonts/Light.woff2);
  font-weight: 300;
}

@font-face {
  font-family: Vazir;
  src: url(../fonts/Thin.woff2);
  font-weight: 100;
}

html {
  @apply font-vazir;
}